.HeaderTitle
  smooth-transition(100ms)
  display block
  font-size 1.5em
  padding .3em 0
  border-bottom 1px solid WHITE
  text-align center
  font-weight lighter


  &:hover
    color PRIMARY_COLOR
    background PRIMARY_COLOR
  &:hover > &--site
    color SECONDARY_COLOR

  &--wee
    smooth-transition(100ms)
    color WHITE_TEXT
  &--site
    smooth-transition(100ms)
    color PRIMARY_COLOR

  &--wee::after
    content 'ee'
  &--site::after
    content 'rack'


+at-tablet()
  .HeaderTitle
    font-size 2em

    &:hover
      background none
    &:hover > &--site
      color SECONDARY_COLOR
    &:hover > &--wee
      color PRIMARY_COLOR

    &--wee
      color DARK_TEXT

    &--wee::after
      content ''
    &--site::after
      content ''


+at-desktop()
  .HeaderTitle
    &--wee::after
      content 'ee'
    &--site::after
      content 'rack'
