.Header
  background SECONDARY_COLOR
  box-shadow 2px 0px 4px 0px black
  // This keeps the blocker on full screen when
  // scrolling on mobile
  height 120vh
  overflow hidden

  // Off-canvas positioning.
  position fixed
  top 0
  left -70vw // Should be 65, but this way it keeps the shadow hide as well.
  width 65vw
  z-index 2

  // Display menu.
  &.is-active
    left 0

@media screen and (min-width: TABLET_QUERY)
  .Header
    // Reset
    position static
    box-shadow none
    max-width none
    height auto

    background WHITE
    display flex
    justify-content space-around
    padding 0 5%
    width 100%
    border-bottom 1px solid BLACK


@media screen and (min-width: TABLET_QUERY)
  .Header
    padding .5em 0
