.Header
  background SECONDARY_COLOR
  box-shadow 2px 0px 4px 0px black
  height 100vh

  // Off-canvas positioning.
  position fixed
  top 0
  left -65vw
  width 65vw
  z-index 2

  // Display menu.
  &.is-active
    left 0

@media screen and (min-width: TABLET_QUERY)
  .Header
    // Reset
    position static
    background none
    box-shadow none
    max-width none
    height auto

    display flex
    justify-content space-around
    padding 0 5%
    width 100%
    border-bottom 1px solid BLACK


@media screen and (min-width: TABLET_QUERY)
  .Header
    padding .5em 0
