.NavigationLink
  border-bottom 1px solid WHITE
  text-align center
  width 100%
  height 100%

.NavigationLink__link
  color WHITE_TEXT
  text-decoration none
  display block
  padding .75em 0
  height 100%
  width 100%

  &:hover, &:active, &.is-active
    background PRIMARY_COLOR


@media screen and (min-width: TABLET_QUERY)
  .NavigationLink__link
    color DARK_TEXT
    font-size 1.5em
    margin-left .5em

    &:hover, &:active, &.is-active
      background none
      color PRIMARY_COLOR

@media screen and (min-width: DESKTOP_QUERY)
  .NavigationLink__link
    color DARK_TEXT
    font-size 1.5em
    margin-left 1em
      color PRIMARY_COLOR
