.SeriesInfoCard
  shadow-borders()
  flex-column()
  background WHITE
  padding 1em
  margin-top .5em
  margin-bottom 1em

.SeriesInfoCard__image
  max-width 150px


+at-tablet()
  .SeriesInfoCard
    flex-direction row


+at-desktop()
  .SeriesInfoCard
    flex-direction column
    min-width 300px
    margin-top 0

  .SeriesInfoCard__image
    min-width 260px
    max-width 260px
