.SeriesList
  display flex
  justify-content center
  flex-wrap wrap
  list-style none
  min-height 100%

.SeriesList.SeriesList
  margin-top 2.7em


+at-tablet()
  .SeriesList.SeriesList
    margin-top 0
