.SeriesInfo
  font-size 1.3em
  margin 1em 0
  text-align center

.SeriesInfo__info,
.SeriesInfo__siteLinks
  margin .1em 0


+at-tablet()
  .SeriesInfo
    flex 1
    font-size 1.5em

  .SeriesInfo__info,
  .SeriesInfo__siteLinks
    margin .3em 0


+at-desktop()
  .SeriesInfo
    font-size 1.3em
    margin .5em 0

  .SeriesInfo__info,
  .SeriesInfo__siteLinks
    margin 0
    margin-top .2em
