.SeriesList
  display flex
  justify-content center
  flex-wrap wrap
  margin 0
  padding 0
  list-style none
  min-height 100%

.SeriesList.SeriesList
  margin-top 2.7em

@media screen and (min-width TABLET_QUERY)
  .SeriesList.SeriesList
    margin-top 0
