#app
  width 100%
  height 100%
  background BACKGROUND_COLOR

.App
  min-height 100vh
  width 100%
  display flex
  flex-direction column

.Content
  padding-top .5em
  flex 1

@media screen and (min-width: DESKTOP_QUERY)
  .Content
    width 100%
    height 100%
    margin 0 auto
    max-width 1080px
