*
  box-sizing border-box

html
  min-height 100%

body
  padding 0
  margin 0
  font-family helvetica, arial, sans-serif
  height 100%

#app
  width 100%
  height 100%
  background BACKGROUND_COLOR

.Content
  padding-top .5em


@media screen and (min-width: DESKTOP_QUERY)
  .Content
    width 100%
    height 100%
    margin 0 auto
    max-width 1080px
