.SeriesCard
  background SECONDARY_COLOR
  width 50%
  height (335/208)*50vw // Must keep same aspect ratio that on Tablet+ queries.
  position relative
  overflow hidden
  perspective 800px

.SeriesCard__card
  fill-block()
  position absolute
  transform-style preserve-3d
  transition transform .2s

.SeriesCard__side
  fill-block()
  display block
  position absolute
  backface-visibility hidden


+at-tablet()
  .SeriesCard
    width 208px
    height 335px

    &:hover > .SeriesCard__card,
    .SeriesCard__card.is-flipped
      transform: rotateY(180deg)
