.SeriesCardBack
  background WHITE
  color DARK_TEXT
  border 1px solid SECONDARY_COLOR
  text-decoration none
  text-align center
  transform rotateY(180deg)

.SeriesCardBack__description
  display block
  display -webkit-box
  margin 0
  padding 1em
  max-width 100%
  min-height 15.65em
  max-height 15.65em
  text-align left
  line-height 1
  font-size .9em
  -webkit-line-clamp 15
  -webkit-box-orient vertical
  text-overflow ellipsis
  overflow hidden

.SeriesCardBack__info
  display flex
  background PRIMARY_COLOR
  color white
  margin .5em 0
  padding .62em
  justify-content space-around
  align-items center

.SeriesCardBack__title
  font-size 1em
  font-weight normal
  padding-top .4em
  max-width 90%
  margin 0 auto
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
