*
  box-sizing border-box
  margin 0
  padding 0

html
  min-height 100%

body
  font-family helvetica, arial, sans-serif
  height 100%
  margin 0
  padding 0

a
  color PRIMARY_COLOR
  text-decoration none

  &:hover, &:active
    color SECONDARY_COLOR

ul
  list-style none
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  margin 0
