// BASE COLORS
WHITE       = #FFFFFF
LIGHT_GRAY  = #F7F7F7
DARK_GRAY   = #EDEBED
BLACK       = #4A4A4A

// THEME COLORS
PRIMARY_COLOR   = #6FBB1C
SECONDARY_COLOR = #357E19
TERTIARY_COLOR  = #7ED321

// TEXT COLORS
DARK_TEXT  = BLACK
WHITE_TEXT = #FFFFFF

// MEDIA_QUERIES (assumes MOBILE FIRST design)
TABLET_QUERY = 480px
DESKTOP_QUERY = 768px
DESKTOP_HD_QUERY = 1024px
