<div class="Latest">
 <h3 class="Feed-title non-mobile">
    Lastest updated
  </h3>
   <ul class="Feed-list">
    <li class="Feed-item">
      <div class="Feed-item-left">
      <!-- Cover Image -->
        <figure class="Feed-item-figure">
          <img class="Feed-item-image" src="../img/series/absoluteduo_min.jpg">
        </figure>
      </div>
    <!-- Item info -->
      <div class="Feed-item-right">
      <!-- Series Title -->    
        <p class="Side-item-title">
          Saenai Heroine no Sodatekata
        </p>
      <!-- Episode -->
        <p class="Side-item-episode-title">
          Episode 1
          <span class="Side-item-episode-time">
            (2 days ago)
          </span>
        </p> 
      </div>
    </li>
  </ul>
</div>

<div class="Feed">
  <h3 class="Feed-title non-mobile">
    Series you're following
  </h3>
  <ul class="Feed-list">
    <li class="Feed-item">
      <div class="Feed-item-left">
      <!-- Cover Image -->
        <figure class="Feed-item-figure">
          <img class="Feed-item-image" src="../img/series/absoluteduo_min.jpg">
        </figure>
        <div class="Feed-item-actions">    
          <button class="Feed-item-button" id="drop">
            × drop
          </button><button class="Feed-item-button" id="add">
            + add all
          </button>
        </div>
      </div>
    <!-- Item info -->
      <div class="Feed-item-right">
      <!-- Series Title -->    
        <p class="Feed-item-title">
          Saenai Heroine no Sodatekata
        </p>
      <!-- Episode -->
        <p class="Feed-item-episode-title">
          Episode 1
          <span class="Feed-item-episode-time">
            (2 days ago)
          </span>
        </p> 
      <!-- Button -->
        <button class="Feed-item-episode-button">
          add to watched
        </button>
      <!-- links -->
        <div class="Feed-item-episode-downloads">
          <p class="Feed-item-episode-text">
            <span class="Feed-item-episode-resolution">
              1080p
            <a class="Feed-item-episode-link">
              [HorribleSubs] 
            </a>
          </p>
          <p class="Feed-item-episode-text">
            720p 
            <a class="Feed-item-episode-link">
              [HorribleSubs] [Hatsuyuki]
            </a>
          </p>
          <p class="Feed-item-episode-text">
            480p
            <a class="Feed-item-episode-link">
              [HorribleSubs] [Hatsuyuki]
            </a>
          </p>
        </div><!-- /.Feed-item-episode-downloads -->
      </div>
    </li>    <li class="Feed-item">
      <div class="Feed-item-left">
      <!-- Cover Image -->
        <figure class="Feed-item-figure">
          <img class="Feed-item-image" src="../img/series/absoluteduo_min.jpg">
        </figure>
        <div class="Feed-item-actions">    
          <button class="Feed-item-button" id="drop">
            × drop
          </button><button class="Feed-item-button" id="add">
            + add all
          </button>
        </div>
      </div>
    <!-- Item info -->
      <div class="Feed-item-right">
      <!-- Series Title -->    
        <p class="Feed-item-title">
          Saenai Heroine no Sodatekata
        </p>
      <!-- Episode -->
        <p class="Feed-item-episode-title">
          Episode 1
          <span class="Feed-item-episode-time">
            (2 days ago)
          </span>
        </p> 
      <!-- Button -->
        <button class="Feed-item-episode-button">
          add to watched
        </button>
      <!-- links -->
        <div class="Feed-item-episode-downloads">
          <p class="Feed-item-episode-text">
            <span class="Feed-item-episode-resolution">
              1080p
            <a class="Feed-item-episode-link">
              [HorribleSubs] 
            </a>
          </p>
          <p class="Feed-item-episode-text">
            720p 
            <a class="Feed-item-episode-link">
              [HorribleSubs] [Hatsuyuki]
            </a>
          </p>
          <p class="Feed-item-episode-text">
            480p
            <a class="Feed-item-episode-link">
              [HorribleSubs] [Hatsuyuki]
            </a>
          </p>
        </div><!-- /.Feed-item-episode-downloads -->
      </div>
    </li>


  </ul>
</div>