<div class="Season">
<!-- banner -->
  <figure class="Season-banner">
    <p style="text-align:center;background-color: rgba(40, 150, 28, 0.36);color: white;padding: .5em 0;margin-top: .5em;">
      Show are being added as the raws are being released, so this list will be updated continuously.
    </p>
    <img class="Season-banner-image" 
         ng-src="{{ season.banner }}">
  </figure>
<!-- Filter buttons -->
  <div class="Season-filters">
    Sort by: 
    <button class="Season-filters-button" 
            ng-class="{'is-active': season.sortOption == 'content.title'}"
            ng-click="season.toggleSortOption('content.title')">
      Title
    </button>
    <button class="Season-filters-button"
            ng-class="{'is-active': season.sortOption == 'createdAt'}"
            ng-click="season.toggleSortOption('createdAt')">
      Added date
    </button>
  </div> <!-- /.Season-filters -->
<!-- Series list -->
  <ul class="Season-series-list">
    <li class="Season-series-item"
        ng-repeat="series in season.series | orderBy: season.sortOption : season.sortReverse">
    <!-- Season-series-left -->
      <div class="Season-series-left">
      <!-- Cover Image -->
        <figure class="Season-series-figure">
          <a class="Season-series-link"
             href= "/series/{{ series._id }}">
            <img class="Season-series-image" 
               ng-src="{{ series.content.img }}">
          </a>
        </figure>
      <!-- Track button -->
<!--         <button class="Season-series-button"
                ng-click="season.track(series._id)">
          + Track
        </button>
 -->      
      </div> <!-- /.Season-series-left -->
    <!-- Season-series-right -->
      <div class="Season-series-right">
      <!-- Title -->
        <a class="Season-series-title" 
           href="/series/{{ series._id }}"
           ng-bind="series.content.title">
        </a>
      <!-- Status -->
        <p class="Season-series-time"
           ng-bind="series.content.status">
        </p>
      <!-- Description -->
        <p class="Season-series-text"
           ng-bind="series.content.description">
        </p>
      </div> <!-- /.Season-series-right -->
      <!-- Info -->
    </li>
  </ul>
</div> <!-- /.Season -->
