.NavigationLink
  fill-block()
  border-bottom 1px solid WHITE
  text-align center

.NavigationLink__link
  smooth-transition(100ms)
  fill-block()
  color WHITE_TEXT
  display block
  padding .75em 0

  &:hover, &:active, &.is-active
    background PRIMARY_COLOR


+at-tablet()
  .NavigationLink__link
    color DARK_TEXT
    font-size 1.3em
    margin-left .5em
    padding .5em 0

    &:hover, &:active, &.is-active
      background none
      color PRIMARY_COLOR


+at-desktop()
  .NavigationLink__link
    font-size 1.2em
    color DARK_TEXT
    margin-left 1em
