.SeasonLink
  shadow-borders()
  height 150px
  width 100%
  margin .5em
  position relative

  &:hover
    shadow-borders(0, 10px, PRIMARY_COLOR)

.SeasonLink__image
  fill-block()
  position absolute
  top 0
  left 0
  background-repeat no-repeat
  background-position center
  background-size cover


+at-desktop()
  .SeasonLink
    width 150px * (1920 / 400) // 1920*400 -> Image original resolution.

  .SeasonLink__image
    background-size contain
