.FeedRelease
  list-style none
  background BLACK
  display flex
  box-shadow 3px 3px 4px 0px black
  margin 1em 0
  padding .75em
  text-shadow 0px 2px 4px black

.FeedRelease__image
  box-shadow 3px 3px 4px 0px black
  height 120px
  width 80px
  margin-right 1em
