.FeedRelease
  shadow-borders()
  background WHITE
  display flex
  margin 1em 0
  padding .75em
  overflow-x hidden

.FeedRelease__image
  height 120px
  width 80px
  margin-right 1em

.FeedRelease__rightSide
  flex 1
