.FeedRelease
  list-style none
  background WHITE
  display flex
  box-shadow 0px 4px 10px 0px BLACK
  margin 1em 0
  padding .75em

.FeedRelease__image
  height 120px
  width 80px
  margin-right 1em

.FeedRelease__rightSide
  flex 1
