.ReleaseInfo
  margin-bottom 1em
  flex  1
  width 100%

.ReleaseInfo__title
  ellipsis-wrap()
  color DARK_TEXT
  padding-bottom .2em
  font-size 1.8em
  font-weight normal
  width 50%

.ReleaseInfo__titleLink
  color DARK_TEXT

.ReleaseInfo__episode
  color GRAY_TEXT

.ReleaseInfo__time
  color LIGHT_GRAY


+at-tablet()
  .ReleaseInfo__title
    width 80%

+at-desktop()
  .ReleaseInfo__title
    width 90%
