.ReleaseLinks
  display flex
  align-items flex-start
  margin .5em 0

.ReleaseLinks__title
  font-weight normal
  color GRAY_TEXT
  text-align left
  algin-self flex-start
  max-width 2em

.ReleaseLinks__links
  flex-column()
  align-items flex-start
  flex-wrap wrap
  padding-left 1em


+at-tablet()
  .ReleaseLinks
    align-items flex-start
    justify-content flex-start

  .ReleaseLinks__links
    flex-direction row
    justify-content flex-start
    overflow hidden
