.ReleaseInfo
  margin-bottom 1em
  width 100%

.ReleaseInfo__title
  ellipsis-wrap()
  color DARK_TEXT
  padding-bottom .2em
  font-size 1.8em
  font-weight normal
  width 90%

.ReleaseInfo__titleLink
  color DARK_TEXT

.ReleaseInfo__episode
  color GRAY_TEXT

.ReleaseInfo__time
  color LIGHT_GRAY
