.ReleaseLinks
  display flex
  align-items flex-start
  margin .5em 0

.ReleaseLinks__title
  font-weight normal
  color WHITE_TEXT
  margin 0
  text-align right
  flex 1

.ReleaseLinks__links
  display flex
  flex 3
  flex-direction column
  list-style none
  margin 0
  padding-left 1em
