.ReleaseInfo
  margin-bottom 1em

.ReleaseInfo__title
  margin 0
  padding-bottom .2em
  font-size 1.8em
  font-weight normal
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.ReleaseInfo__titleLink
  color white
  text-decoration none


.ReleaseInfo__episode
  color LIGHT_GRAY

.ReleaseInfo__time
  color GRAY_TEXT
