.ReleaseLinks
  display flex
  align-items flex-start
  margin .5em 0

.ReleaseLinks__title
  margin 0
  font-weight normal
  color GRAY_TEXT
  text-align left
  algin-self flex-start
  max-width 2em

.ReleaseLinks__links
  display flex
  flex-wrap wrap
  flex-direction column
  list-style none
  margin 0
  padding-left 1em

@media screen and (min-width TABLET_QUERY)
  .ReleaseLinks
    align-items flex-start
    justify-content flex-start

  .ReleaseLinks__links
    flex-direction row
    justify-content flex-start
    overflow hidden
