.SeriesReleases
  display flex
  flex-direction column
  align-items flex-start
  padding 0
  list-style none
  width 100%
  margin-bottom 1em


@media screen and (min-width: DESKTOP_QUERY)
  .SeriesReleases
    padding 0 2em
    margin 0
