.Admin
  margin-top .4em
  width 100%

.Admin-search
  text-align center
  font-size 1.5em
  
.Admin-save-button
  margin-bottom .3em
  width 100%

.Admin-title
  text-align center
  font-size 2em
  color $primary_color

.Admin-list
  width 100%

.Admin-item
  width 100%
  background white
  margin 1em 0

.Admin-link
  display block
  font-size 2em
  padding .5em
  width 100%
  height 100%
  text-align center

@media screen and (min-width: $query_large)
  .Admin-list
    display flex
    flex-flow row wrap
    justify-content space-between
  .Admin-item
    width 49%
  .Admin-save-button
    font-size 2em
    padding .1em .5em