/* Mobile-first view */
  .Feed
    width 100%

  .Feed-item
    background white
    display flex
    padding .5em
    margin .5em 0
    max-height 13.5em

  .Feed-item-button
    margin-bottom .3em
    width 100%

  .Feed-item-button#drop,
  .danger-button
    background $danger_color
    border 1px solid $danger_color
    width 100%
    &:active, 
    &.is-active
      background $danger_dark_color
      border 1px solid $danger_dark_color
    &:hover
      border 1px solid $danger_dark_color

  .Feed-item-figure
    width 6em
    height 10em
    
  .Feed-item-left
    margin-right 1.5em
    max-width 10em

  .Feed-item-right
    margin 0 0 0 .6em
    overflow hidden

  .Feed-item-title
    color $dark_text
    font-size 1.2em
    font-weight bold
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  .Feed-item-episode-button
    margin .3em 0
    padding .2em .5em

  .Feed-item-episode-downloads
    height 5.5em
    overflow-y auto

  .Feed-item-episode-time
    color $light_text
    font-size .8em
    font-weight normal

  .Feed-item-episode-title
    color $dark_text
    font-size .9em
    font-weight bold

  .Feed-title
    color $dark_text
    text-align center
    margin .5em
    padding-bottom .2em
    border-bottom 1px solid $dark_text
    
  .Side-item
    margin .2em 0
    padding .3em .3em 0 .3em

  .Side-item-title
    color $dark_text
    font-weight bold
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .Side-item-episode-time
    color $light_text
    font-size .8em

  .Side-item-episode-title
    color $dark_text
    font-size .9em




/* Tablet view */
@media screen and (min-width: $query_medium)
 
  .Feed-item
    width 49%

  .Feed-list
    display flex
    flex-flow row wrap
    justify-content space-between
    

@media screen and (min-width: $query_large)
  .Feed 
    width 75%
    margin 0 1em
  
  .Feed-list
    flex-flow column wrap
    
  .Latest
    width 25%
    
  .Feed-item
    width 100%
    max-height 8em

  .Feed-item-left
    margin-right .5em
    max-width 5em
    
  .Feed-item-episode-button,
  .Feed-item-episode-title
    display inline-block
    
  .Feed-item-episode-text
    padding-left .5em

  .Feed-item-episode-link
    padding 0 .3em

  .Feed-item-episode-button
    font-size .7em
    margin 0 .5em
    padding .1em .5em
    
  .Feed-item-button
    font-size .7em
    margin 0
    padding .1em .5em
    
  .Feed-item-actions
    margin-top -.4em
      
  .Side-item-left
    min-width 4em
    max-width 4em
    
  .Feed-item-figure
    width 5em
    height 7em
