/* Mobile-first view */
  .Header
    background $primary_color
    display flex
    height 3em
    padding .35em 0em
    transition all 300ms ease-in-out
    width 100%
    
  .Header-button
    cursor pointer
    height 2em
    margin .2em 1em
    position relative
    transition all 300ms ease-in-out
    user-select none
    width 2em

  .Header-button-line
    background white
    border-radius 1px
    height 4px
    left 0em
    position absolute
    transition all 300ms ease-in-out
    width 30px
    &:nth-child(1)
      top .2em
    &:nth-child(2)
      top .8em
    &:nth-child(3)
      top 1.4em
  
  .Header-link
    color $secondary_color
      
  .Header-mobile-title
    align-self center
    color white
    font-size 1.5em
    overflow hidden 
    padding-left .5em
    text-align center
    text-overflow ellipsis
    transition all 300ms ease-in-out
    white-space nowrap
    width 80%
    
  .Header-title
    color $secondary_color
    display none
    &-span
      color $primary_color
    
  .Header-user
    align-items center
    display none
    justify-content flex-end
    width 40%
  
  .Header-user-name
    color $dark_text
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  .Header-user-button
    border-right 13px solid transparent
    border-left 13px solid transparent
    border-top 10px solid $light_text
    cursor pointer
    margin 0 .5em

  .Header-user-image
    border-radius 50%
    height 100%   
    width 100%   

  .Header-user-figure
    height 50px
    margin 0 1em
    padding 0
    width 50px
    
  .Move-right
    .Header-button-line
      //margin 0 35%
      &:nth-child(1)
        top .55em
        transform rotate(-45deg)
        width 1em
      &:nth-child(2)
        left .4em
      &:nth-child(3)
        top 1.1em
        transform rotate(45deg)
        width 1em
        

/* Tablet  View*/
  @media screen and (min-width: $query_medium)
    .Header
      height 4em
      padding-top .1em
    
    .Header-button
      height 4em
      margin-top .5em
      transition all 300ms ease-in-out
      width 3em
      .Header-button-line
        height 7px
        width 50px
        &:nth-child(1)
          top .2em
        &:nth-child(2)
          top 1.2em
        &:nth-child(3)
          top 2.2em
     
    .Header-mobile-title
      font-size 2.5em
    
    .Move-right
      .Header-button-line
        &:nth-child(1)
          left .7em
          top .75em
          transform rotate(-45deg)
          width 1.5em
        &:nth-child(2)
          left 1em
        &:nth-child(3)
          left .7em
          top 1.5em
          transform rotate(45deg)
          width 1.5em


/* Desktop View*/
  @media screen and (min-width: $query_large)
    .Header
      background white
      border-bottom 1px solid $secondary_color
      height 5em
      justify-content space-between
      padding 1.3em 15%
    
    .Header-title
      display block
      
    .Header-user
      display flex
    
    .Header-button,
    .Header-mobile-title
      display none
