/* Mobile-first view */
  .Season-banner
    margin 0em -.5em
    min-width 200vw
    
  .Season-filters
    text-align center
    
  .Season-filters-button
    margin 0
    padding .3em .5em

  .Season-series-item
    transition all 300ms ease-in-out
    background white
    display flex
    margin .5em .25em
    height 10.5em
    width 100%
    overflow hidden
    overflow-y auto

  .Season-series-figure
    height 8.5em
    width 6em
    
  .Season-series-button
    width 6em
    height 2em
  
  .Season-series-list
    display flex
    flex-direction column

  .Season-series-left
    min-width 6em
    
  .Season-series-right
    display flex
    flex-flow column no-wrap
    margin 0 .5em

  .Season-series-title
    font-size 1em
    color $dark_text
    font-weight bold
    text-align center

  .Season-series-time
    color $light_text
    font-size .7em
    text-align center

  .Season-series-text
    flex 7
    color $dark_text
    margin .5em 0
    font-size .8em
    overflow-y auto



/* Tablet view */
@media screen and (min-width: $query_medium)
  .Season-series-list
    flex-flow row wrap
    justify-content space-between
  .Season-series-item
    width 48%

  .Season-series-text
    height 10.5em


/* Desktop view */
@media screen and (min-width: $query_large)
  .Season-banner
    min-width 100vw
    margin-left -5vw

  .Season-series-list
    justify-content inherit
    
  .Season-series-item
    width 32%
