/* Colors */
  // Background
  $background_color = #ecf0f1

  // Elements
  $primary_color    = #28961C
  $secondary_color  = #808080
  $tertiary_color   = #28592B
  
  // Buttons
  $danger_color = #CD4545
  $danger_dark_color = #9D3636

  // Text
  $light_text = #8a8787
  $dark_text = #525252

/* Media Queries */
  $query_medium = 680px
  $query_large  = 980px
