/* Header */
@import "modules/header"

/* Navigation */
@import "modules/menu"

/* Footer */
// SOON TM

/* Wrappers */
// Mobile-first View
  .Content
    display flex
    flex-direction column
    height 100%
  
  .Wrapper
    height 100%
    position relative
    right 0
    top 0
    transition all 300ms ease-in-out
    width 100%
    &.Move-right
      right -50%
      .Content-blocker
        background rgba(black,.4)
        height 100vh
        opacity 1
        overflow-y hidden
        position fixed
        right 0
        top 0em
        width 50%

  
  .Content-blocker
    opacity 0
    transition all 300ms ease-in-out
    width 100%
    z-index 1
  
  
// Desktop view
  @media screen and (min-width: $query_large)
    .Content
      flex-direction row
      justify-content space-around
      position relative
      width 90vw
      margin 0 auto
      margin-top 0em
      
    .Wrapper
      &.Move-right
        right 0
    
    .Move-right
      .Content-blocker
        display none
