.ContentBlocker
  background rgba(black, .7)
  position fixed
  top 0
  left 0
  width 100vw
  // This keeps the blocker on full screen when
  // scrolling on mobile
  height 120vh
  overflow hidden

@media screen and (min-width TABLET_QUERY)
  .ContentBlocker
    display none
