.ContentTitle
  shadow-borders()
  background PRIMARY_COLOR
  text-align center
  position fixed
  top 0
  left 0
  width 100vw
  z-index 1

.ContentTitle__text
  ellipsis-wrap()
  color WHITE
  font-size 1.8em
  font-weight normal
  padding .3em 1.5em

.ContentTitle + ul, .ContentTitle + div
  margin-top 3em


+at-tablet()
  .ContentTitle
    background none
    box-shadow none
    position static
    width 100%

    & + ul, & + div
      margin-top 0em

  .ContentTitle__text
    color DARK_TEXT
    padding .2em 0
    font-style italic
    font-weight normal
