.HamburgerMenu
  cursor pointer
  position absolute
  top .5em
  left .3em


.HamburgerMenu__line
  smooth-transition()
  display block
  background WHITE
  margin .3em
  height .3em
  width 2em

.HamburgerMenu.is-active
  left initial
  right .3em

  .HamburgerMenu__line
    position relative

  #line1
    transform rotate(-45deg)
    width 1.4em
    left -.3em
    top .2em

  #line3
    transform rotate(45deg)
    top -.2em
    left -.3em
    width 1.4em




+at-tablet()
  .HamburgerMenu
    display none
